[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse
[submodule "third_party/whereami2cpp"]
	path = third_party/whereami2cpp
	url = https://github.com/dantros/whereami2cpp.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/ChaiScript"]
	path = third_party/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "third_party/lua_cmake"]
	path = third_party/lua_cmake
	url = https://github.com/dantros/lua_cmake.git
[submodule "third_party/pocketpy"]
	path = third_party/pocketpy
	url = https://github.com/pocketpy/pocketpy.git
[submodule "third_party/lua_sol_cmake"]
	path = third_party/lua_sol_cmake
	url = https://github.com/dantros/lua_sol_cmake.git
